@{
    ViewBag.Title = "Add";
    Layout = null;
}

<form method="post" action="~/Dict/AddSave">
    <input type="text" id="surName" name="surName" />
    <input type="text" id="phoneNumber" name="phoneNumber" />
    <input type="submit" value="Add" />
</form>
